# Ignore Visual Studio temporary files
.vs/

# Ignore dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Ignore .env files which contain secret keys
.env
client/.env
server/.env

# Ignore build output
build/
client/build/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# server/.gitignore
node_modules
.env                 # This line is crucial to ignore your new .env file
config/config.env